@tailwind base;
@tailwind components;
@tailwind utilities;
@import "variables.scss";
@import "header.scss";
@import "home.scss";
@import "layout.scss";
@import "news.scss";
@import "footer.scss";
@import "pagination.scss";
@import "team.scss";
@import "history.scss";
@import "cookies.scss";

p {
    text-align: justify;
}

.jumbotron {
    background-color: transparent;
}
.hidden {
    display: none;
}
