#footer{
    width: 100%;
    background-color: $second-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-footer {
    color: white;
    text-shadow: grey 1px 1px 1px;
    width: fit-content;
}

#login {
    color: white;
    width: 100%;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: right;
}

#other-links{
    color: grey;
    display: flex;
    justify-content: center;
    gap: 5vw;
    color: white;
    a {
        width: 5vw;
        height: 5vw;

        img {
            width: 100%;
        }
    }
}

#fem-cod {
    color:  gray;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        width: 4vw;
        height: 4vw;
        background-color: white;
        padding: 2px;
        border-radius: 5px;
    }
}
