#nav-menu {
    background-color: $first-color;
    display: flex;
    align-items: center;
    padding: 1vh;
    gap: 2vw;
    .header-title {
        width: 20vw;
        font-size: calc($font-size * 1.2);
        text-align: center;
        color: hsla(0, 0%, 100%, 0.6);
    }

    .buttons {
        width: 100%;
        height: 30%;
        background: 4D2756;
        display: flex;
        gap: 2vw;
        justify-content: center;
        margin-right: 4vw;
        a {
            color: white;
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: clamp(15px, 1.6vw, 20px);
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    .header-right {
        width: 18vw;
    }
    .menu-toggle {
        display: none;
    }
}
.logo-img {
    width: 5vw;
    object-fit: contain;
    border-radius: 50%;
    align-items: center;
    max-width: 50px;
    min-width: 30px;
}

.mobile-menu {
    display: none;
}

@media only screen and (max-width: 800px) {
    #nav-menu {
        justify-content: space-between;
        .header-title {
            width: fit-content;
            font-size: 16px;
        }
        h1 {
            font-size: 20px;
            width: 100%;
        }
        .menu-toggle {
            display: flex;
            flex-direction: column;
        }
        .buttons {
            display: none;
        }
    }
    .mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(128, 128, 128, 0.2);
        a {
            color: $first-color;
            padding: 0.7vh;
            border-bottom: solid 1px white;
        }
        a:last-child {
            border: none;
        }
    }
}
