.history-container {
    width: 100%;
    justify-content: center;
    figure {
        display: flex;
        width: 70%;
        max-width: 900px;
        height: auto;
        margin: 0 auto;
        margin-top: 3vw;
        overflow: hidden;
        justify-content: center;
        border-radius: 60px;
        border-color: #4d2756;
        border-width: 5px;
        border-style: solid;
        flex-direction: column;
        img {
            border-radius: 55px;
        }
    }
    > h1 {
        margin: 10px;
        padding: 40px;
        min-width: 500px;
        text-transform: capitalize;
        text-align: center;
        background-color: #eee5ef69;
        font-size: 2em;
    }
    > h3 {
        margin: 10px;
        padding: 40px;
        text-transform: capitalize;
        text-align: center;
        font-size: medium;
        background-color: rgba(231, 233, 236, 0.291);
    }
}
.cronologias-container {
    padding: calc(1vh + 1vw);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    .cronologia-container {
        display: flex;
        width: 55%;
        padding: 1vh 0;
        align-items: center;
        > section {
            background-color: #eee5ef69;
            border-radius: $border-radius;
            padding: 1vh 2vw;
        }
        > h2 {
            margin: 1vw;
            display: flex;
            padding: 3vw;
            width: 90px;
            height: 90px;
            background-color: #4d2756;
            color: aliceblue;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
        }
    }
    .cronologia-container:nth-child(odd) {
        align-self: flex-end;
    }

    .cronologia-container:nth-child(even) {
        > h2 {
            order: 2;
        }
    }
}
@media only screen and (max-width: 900px) {
    .history-container {
        figure {
            width: 90%;
        }
    }
    .cronologias-container {
        .cronologia-container {
            width: 100%;
            flex-direction: column;
        }
        .cronologia-container:nth-child(even) {
            > h2 {
                order: 0;
            }
        }
    }
}
