.history-container{
    width: 100%;
    justify-content: center;
    figure{
        margin: 40px;
        padding: 0em;
        width: 70%;
        position: relative;
        margin-top: 3vw;
        border-radius: 60px;
        border-color: #4d2756;
        border-width: 5px;
        border-style: solid;
        display: flex;
        flex-direction: column;
        img{
            border-radius: 55px;
        }
}
h1.title{
    margin: 10px;
    padding: 40px;
    min-width: 500px;
    text-transform: capitalize;
    text-align: center;
    background-color: #eee5ef69;
    font-size: 2em;
}
h3.resumen{
    margin: 10px;
    padding: 40px;
    text-transform: capitalize;
    text-align: center;
    font-size: medium;
    background-color: rgba(231, 233, 236, 0.291);
}
}

div.cronologia-container:nth-child(odd) {
    display: grid;
    place-items: center;
    margin-top: 1vw;
    padding: 15px;
    width: 650px;
    height: 400px;
    border-radius: 20px;
    display: grid;
    margin-top: 1vw;
    place-content: center;
    align-items: center;
    background:#d6ccc0a0;
}

h2.date{
    display: grid;
    padding: 5px;
    width: 90px;
    height: 90px;
    background-color: #4d2756;
    align-items: center;
    border-radius: 50px;
    align-items: center;
}

div.cronologia-container:nth-child(even) {
    display: grid;
    place-items: center;
    margin-top: 1vw;
    padding: 15px;
    width: 650px;
    height: 400px;
    border-radius: 20px;
    display: grid;
    margin-top: 1vw;
    place-content: center;
    align-items: center;
    background: rgb(216, 210, 202);
}
h2.date{
    display: grid;
    padding: 5px;
    width: 90px;
    height: 90px;
    background-color: #4d2756;
    color: aliceblue;
    align-items: center;
    border-radius: 50px;
    align-items: center;
}